@use "variables";
main {
  @media screen and (min-width: 480px) {
    display: contents;
  }
}

.ingreso {
  &__logo {
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 3rem;

    @media screen and (max-width: 400px) {
      margin-top: 8rem;
    }
  }
}

#titulo {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0 5rem 0;

  @media screen and (max-width: 400px) {
    font-size: 1.8rem;
    margin-top: 5rem;
  }
}

.titulo-color {
  color: variables.$color-rojo-claro;
}
.section {
  text-align: center;
  margin-top: 5rem;

  &__cont {
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    margin-left: -10rem;

    @media screen and (max-width: 400px) {
      font-size: 1.8rem;
      text-align: center;
      margin-left: -27rem;
    }
  }

  &__label {
    text-align: left;
    margin-left: -42rem;

    &--izq {
      margin-right: -2rem;
    }

    @media screen and (max-width: 400px) {
      margin-right: -68rem;
    }
  }

  &__input {
    margin-top: 2rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: variables.$color-gris-limpiar;
    width: 60rem;
    margin-right: -9rem;
    padding-left: 1rem;

    @media screen and (max-width: 400px) {
      width: 35rem;
      margin-right: -27rem;
    }
  }

  &__span {
    color: variables.$color-rojo;
  }

  &__ingresar {
    height: 4rem;
    width: 45%;
    cursor: pointer;
    background-color: variables.$color-rojo-claro;
    border-radius: 0.5rem;
    color: variables.$color-blanco;
    margin-top: 5rem;

    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
    }
  }

  &__cuenta {
    margin-top: 3rem;
  }

  &__olvidar {
    text-decoration: none;
  }

  &__crear {
    color: variables.$color-rojo-claro;
    margin-top: 1rem;
    cursor: pointer;
    display: block;
  }

  @media screen and (max-width: 400px) {
    text-align: center;
  }
}
