$color-principal: #6d9dfa;
$color-rojo-claro: #e63761;
$color-rojo: #ff0000;
$color-naranja-seleccion: #f59523;
$color-verde-boton: #36bd44;
$color-gris-titulos: #f0f0f0;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris-limpiar: #d9d9d9;
$color-azul: #0000ff;
